:root {
  --text-color: rgb(31, 27, 27);
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --nav-background: rgb(187, 176, 176);
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}
body {
  background: rgb(71, 68, 68);
  margin: 1.8rem 3.1rem;
}
img {
  max-width: 100%;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}

#navigation ul {
  display: grid;
  text-decoration: none;
  padding: 0;
  list-style: none;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: spread-around;
}
#navigation a {
  text-decoration: none;
  display: block;
  padding: 0.8rem;
  background: var(--nav-background);
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  box-shadow: var(--shadow);
}
#navigation a:hover {
  background: var(--text-color);
  color: var(--nav-background);
}
#showcase {
  background: url("https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#showcase h2 {
  font-size: 4rem;
  color: var(--white);
}
#showcase p {
  font-size: 1.2rem;
  color: var(--white);
}

.transitional-section {
  display: grid;
  justify-items: center;
  text-align: center;
  background: rgb(97, 86, 86);
  padding: 1rem;
}
.transitional-section h2 {
  font-size: 4rem;
  color: var(--text-color);
}
.transitional-section p {
  font-size: 1.2rem;
  color: var(--text-color);
}
.transitional-section-btn {
  text-decoration: none;
  display: block;
  padding: 0.8rem;
  background: rgb(71, 68, 68);
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  box-shadow: var(--shadow);
}
.transitional-section-btn:hover{
  background: #fff;
  color:  rgb(71, 68, 68);
}

#services{
  display: grid;
  grid-template-areas: 
  'box1 box2'
  'box3 box4';
  grid-gap: 1em;
  padding: 1em;
  
}
.service-box{
  display: gird;
  justify-items: center;
  text-align: center;
  grid-template-areas:
  'img'
  'h3'
  'p';
}
@media (min-width: 750px) {
  #navigation ul {
    grid-template-columns: repeat(3, 1fr);
  }
  #showcase h2 {
    font-size: 4rem;
    color: var(--white);
  }
  #showcase p {
    font-size: 2rem;
    color: var(--white);
  }
  .transitional-section h2 {
    font-size: 4rem;
    color: var(--text-color);
  }
  .transitional-section p {
    font-size: 2rem;
    color: var(--text-color);
  }
  #services{
    display: grid;
    grid-template-areas: 
    'box1 box2 box3 box4';
    
   
  }
}

@media (max-width: 450px) {
  #navigation ul {
    grid-template-columns: 1fr;
  }
  #showcase h2 {
    font-size: 2rem;
    color: var(--white);
  }
  #showcase p {
    font-size: 0.6rem;
    color: var(--white);
  }
  .transitional-sectionh2 {
    font-size: 2rem;
    color: var(--text-color);
  }
  .transitional-section p {
    font-size: 0.6rem;
    color: var(--text-color);
  }
  #services{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'box1'
    'box2'
    'box3'
    'box4';
    
   
  }
}
